<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.monfrigo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <activity
            android:name="com.example.monfrigo.MainActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"
            android:label="@string/app_name" >
        </activity>
        <service android:name="VerifDate"></service>
        <activity
            android:name="com.example.monfrigo.Liste"
            android:label="@string/title_activity_liste" >
        </activity>
        <activity
            android:name="com.example.monfrigo.Ajout"
            android:label="@string/title_activity_ajout" >
        </activity>
        <activity
            android:name="com.example.monfrigo.CreerFrigo"
            android:label="@string/title_activity_creer_frigo" >
        </activity>
        <activity
            android:name="com.example.monfrigo.TabTest"
            android:label="@string/title_activity_tab_test" >
        </activity>
        <activity
            android:name="com.example.monfrigo.TestScanner"
            android:label="@string/title_activity_test" >
        </activity>
        <activity
            android:name="com.example.monfrigo.Scan"
            android:label="@string/title_activity_scan" >
        </activity>
        <activity
            android:name="com.example.monfrigo.Scanner"
            android:label="@string/title_activity_scanner" >
        </activity>
        <activity
            android:name="com.example.monfrigo.AfficherListeDeCourse"
            android:label="@string/title_activity_afficher_liste_de_course" >
        </activity>
        <activity
            android:name="com.example.monfrigo.MonFrigo"
            android:label="@string/title_activity_splash_screen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.monfrigo.ActivityNotification"
            android:label="@string/title_activity_activity_notification" >
        </activity>
    </application>

</manifest>
